
html 
    head
        title="Agregar Producto"
        meta(charset="utf-8" )
        meta(http-equlv="X-UA-Compatible", content="If-edge")
        meta(name="viewport", content="width=device=width, initial-scale=1.0, viewport-fit=cover")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")

    body
        h1= title
        form(action="/productos/vista", method="POST")
            div(class="form-group row")
                label(class="col-sm-2 col-form-label")= "Titulo"
                div(class="col-sm-10")
                 input(type="text", class="form-control", name="title", placeholder="Titulo")
            div(class="form-group row")
                label(class="col-sm-2 col-form-label")= "Precio"
                div(class="col-sm-10")
                input(type="numeric", class="form-control", name="price", placeholder="Precio")
            div(class="form-group row")
                label(class="col-sm-2 col-form-label")= "Url Icono"
                div(class="col-sm-10")
                input(type="text", class="form-control", name="thumbnail", placeholder="Url Icono")
            div(class="form-group row")
                div(class="col-sm-10")
                input(type="submit", class="btn btn-primary btn-lg", value="Guardar Producto")